.title-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: 35px;
    border-radius: 5px;
    margin: 20px;
    background-color: skyblue;
    color: white;
}